html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
    padding: 0;
    background-color: #222;
	color: rgb(221, 221, 221);
	font-family: monospace;
	font-size: 14px;
}

* {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

h1 {
	padding: 5px 0 10px 0;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: unset;
}

/* Scrollbar track (the background) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
	background-color: #333
}

/* Scrollbar thumb (the handle) */
::-webkit-scrollbar-thumb {
    background-color: darkgray; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded edges for the handle */
    border: 3px solid transparent; /* Optional padding around the handle */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background-color: #333; /* Background of the track */
}

/* Scrollbar corner for both horizontal and vertical scrollbars */
::-webkit-scrollbar-corner {
    background-color: lightgray;
}
