body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

#main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "char-info map" "logs controls";
    height: 100vh;
}

#char-info {
    grid-area: char-info;
    border: 1px solid #555;
    color: #ddd;
}

#logs {
    grid-area: logs;
    border: 1px solid #555;
    overflow-y: scroll;
    color: #ddd;
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    /* autoscroll */
    scroll-behavior: smooth;
}

#area {
    grid-area: map;
    border: 1px solid #555;
    color: #ddd;
    font-family: monospace;
}

#controls {
    grid-area: controls;
    border: 1px solid #555;
    font-family: monospace;
    color: #ddd;
}

.control {
    margin: 0;
    padding: 0;
}

.log-line {
    margin: 0;
    padding: 0;
}

.char-info-line {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
}

.char-info-bar {
    height: 10px;
    /* margin: 2px; */
}

#char-health {
    background-color: rgb(91, 1, 1);
    border: 1px solid #cd0000;
    margin: 2px;
}

#char-health-current {
    background-color: rgb(214, 0, 0);
}

#char-experience {
    background-color: #412300;
    border: 1px solid #d0a702;
    margin: 2px;
}

#char-experience-current {
    
    background-color: #ffcc00;
}
