body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

#main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "char-info map" "logs controls";
    height: 100vh;
}

/* Char info will have three child divs, columns */
#char-info {
    grid-area: char-info;
    border: 1px solid #555;
    color: #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "char-stats char-equipment char-name";
}

/* One row with Key: Value format */
.char-equipment-item{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#logs {
    grid-area: logs;
    border: 1px solid #555;
    overflow-y: scroll;
    color: #ddd;
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    /* autoscroll */
    scroll-behavior: smooth;
}

.area-section-title {
    font-size: 16px;
    margin: 5px;
    color: #ddd;
    font-family: monospace;
    font-size: 16px;
}

.area-section {
    color: #ddd;
    font-family: monospace;
    font-size: 14px;
}

.controls-title {
    font-size: 16px;
    margin: 5px;
}

#controls {
    grid-area: controls;
    border: 1px solid #555;
    font-family: monospace;
    color: #ddd;
    font-size: 14px;
}

/* matrix style theme, green on black */
#attack-control {
    margin: 0px 0px;
    color: #fff;
    border: 1px solid #00ff00;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#attack-control:hover {
    background-color: #00ff009c;
}

.control {
    margin-left: 5px !important;
}

.log-line {
    margin: 0;
    padding: 0;
}

.char-info-line {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
}

.char-info-bar {
    height: 10px;
    /* margin: 2px; */
}

#char-health {
    background-color: rgb(91, 1, 1);
    border: 1px solid #cd0000;
    margin: 2px;
}

#char-health-current {
    background-color: rgb(214, 0, 0);
    transition: transform 2.5s;
}

#char-experience {
    background-color: #412300;
    border: 1px solid #d0a702;
    margin: 2px;
}

#char-experience-current {
    background-color: #ffcc00;
    transition: transform 2.5s;
}